signs/pictures/**/*.bmp
signs/pictures/**/*.jpg
signs/pictures/**/*.png
signs/pictures/**/*.jp2
Debug/
Release/
signs/SignDetector/bin/**/*.dll
signs/SignDetector/bin/**/*.exe
signs/SignDetector/bin/**/*.pdb
signs/SignDetector/bin/**/*.manifest
